/*

  black     : #272727
  white     : #FDFDFD
  grey      : #8D8D8D
  light-grey: #363636

*/

html, body {
  margin: 0;
  padding: 0;
  background: #272727;
  color: #272727;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  -webkit-transition: opacity 0.3s 0.3s ease-in;
  height: 100%;
}


a:focus, a:active {
  outline: none;
}

input[type="text"] {
  height: 50px;
  width: 96%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 20px;
  padding-left: 4%;
  background: #272727;
  color: #FDFDFD;
  border-radius: 0;
}
input[type="text"]::-webkit-input-placeholder {
  color: #8D8D8D;
}
input[type="text"]:focus {
  outline: none;
  background: #363636;
}


#main {
  height: 100%;
  background: #FDFDFD;
}

#phrases {
  padding: 0;
  margin: 0;
  padding-bottom: 49px;
  background: #FDFDFD;
  -webkit-transform: translate3d(0, 0, 0);
}
#main.hide #phrases {
  -webkit-transform: translate3d(-20%, 0, 0);
  opacity: 0;
}
#main.animate #phrases {
  -webkit-transition: opacity 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

#phrases li {
  list-style: none;
  padding: 5%;
  border-bottom: 1px dashed #8D8D8D;
  position: relative;
}

#phrases li a {
  position: absolute;
  right: 0;
  top: 0;
  padding: 14px;
  color: #272727;
  text-decoration: none;
  font-size: 17px;
  -webkit-user-select: none;
}
#phrases li a:focus, #phrases li a:active {
  font-size: 22px;
}

#phrases p {
  margin: 0;
  font-size: 18px;
}
#phrases p:first-child {
  margin-bottom: 2%;
  font-size: 16px;
  font-weight: 400;
}



#main aside {
  position: fixed;
  bottom: 0;
  width: 101%;
  background: #FDFDFD;
  z-index: 1;
  -webkit-user-select: none;
  /*-webkit-transform: translate3d(0, 0, 0);*/
}
#main aside.focus {
  position: relative;
}
/*
disable on mobile. maybe on desktop ...
#main.hide aside {
  -webkit-transform: translate3d(0, 100%, 0);
}
#main.animate aside {
  -webkit-transition: -webkit-transform 0.3s ease-in;
}
*/
#main aside a {
  width: 20%;
  display: block;
  float: left;
  height: 50px;
  text-align: center;
  font-size: 40px;
  line-height: 44px;
  background: #272727;
  color: #FDFDFD;
  text-decoration: none;
}
#main aside a:focus, #main aside a:active {
  background: #FDFDFD;
  color: #272727;
}
#main aside.focus a {
  margin-left: -20%;
}

#search:not(:focus) {
  width: 76%;
}



#edit {
  position: fixed;
  top: 0;
  bottom: 0;
  background: #272727;
  -webkit-user-select: none;
  width: 100%;
  z-index: 2;
  -webkit-transform: translate3d(100%, 0, 0);
}
#edit.show {
  -webkit-transform: translate3d(0, 0, 0);
}
#edit.animate {
  -webkit-transition: -webkit-transform 0.3s ease-in;
}

#edit input {
  border-bottom: 1px dashed #8D8D8D;
}

#edit button {
  -webkit-appearance: initial;
  background: none;
  border: none;
  color: #F53C4B;
  font-size: 20px;
  padding: 0 3%;
  margin-top: 25px;
  position: absolute;
  right: 0;
}
#edit button:focus, #edit button:active {
  outline: none;
  text-decoration: underline;
}
#edit button.hide {
  display: none;
}